/*CANVAS CALENDAR TWEAKS*/

.calendar__event--completed, .fc-time {
    /*Dim the color of completed assignments and time*/
    color: #857878;
}

a.assignment:hover .calendar__event--completed, a.assignment:hover .fc-time {
    /*Brighten the completed assignment and time when hovered*/
    color: #0c8898;
    /*Remove the strikethrough*/
    text-decoration: none;
}

a.assignment {
    /*Make font red by default*/
    color: #fc5555;
}

a.assignment:hover {
    /*make outstanding assignment text brighter on hover.*/
    color: red;
    /*Use a pointer on hover instedad of text cursor*/
    cursor: pointer;
}

.fc-content i[class*=icon-]:before, .fc-content i[class^=icon-]:before, .fc-content a[class*=icon-]:before, .fc-content a[class^=icon-]:before {
    /*remove the icons*/
    display: none;
    margin-right: 0;
}

div.fc-day-grid div {
    /*Collapse empty rows*/
    min-height: auto;
    height: auto;
}

div.fc-day-grid-container, div.fc-scroller {
    /*Full length calendar*/
    height: auto;
}

.fc-time[data-start="11:59"] {
    /*Fix the 11:59 submit time glitch*/
    margin-right: -5px;
}

/*TURN OFF TIME BELOW*/

.fc-time {
    /* Uncomment below to turn off time */
    /*display: none;*/
}

.fc-day-grid-event .fc-content {
    /*Show full title text*/
    white-space: inherit;
    /*NO TIME - Turn ON!: Fix alignment of title*/
    /*display: flex;*/
}
